<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Coder.new</title>
</head>
<body>
  <div class="container2">
    <div class="result-text">
      <p>Here's the gif you sent...</p><br>
    </div>

      <img src="<%= @random_gif %>">
    
    <div class="link">
      <a href="/">Search Again</a>
    </div>

  </div>

</body>
</html>